@font-face {
  font-family: 'Raleway';
  src:  url('../fonts/Raleway-Black.ttf') format('ttf'),
  url('../fonts/Raleway-Black.woff2') format('woff2'),
  url('../fonts/Raleway-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src:  url('../fonts/Raleway-Bold.ttf') format('ttf'),
  url('../fonts/Raleway-Bold.woff2') format('woff2'),
  url('../fonts/Raleway-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src:  url('../fonts/Raleway-Medium.ttf') format('ttf'),
  url('../fonts/Raleway-Medium.woff2') format('woff2'),
  url('../fonts/Raleway-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src:  url('../fonts/Raleway-Regular.ttf') format('ttf'),
  url('../fonts/Raleway-Regular.woff2') format('woff2'),
  url('../fonts/Raleway-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src:  url('../fonts/Raleway-SemiBold.ttf') format('ttf'),
  url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
  url('../fonts/Raleway-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
