@media screen and (max-width: 1439px){
  .parallax-scene{
    bottom:150px;
  }
  .header-category{
    background-size: 43%,43%,100px,100px;
  }
}
@media screen and (max-width: 1199px){
  .container{
    max-width:970px;
  }
  .sub-menu.open{
    width:970px;
  }
  .statistics-item strong .shadow_effect{
    font-size:70px;
  }
  .header-title h1{
    font-size:53px;
  }
  .android-block .img-wrap img, .apple-block .img-wrap img{
    width:500px;
  }
  .header-category{
    background-size: 43%,39%,100px,100px;
  }
  .header-contacts{
    background-size: 25%;
    background-position: 0 105%, 100% -12%;
    img{
      max-width:570px;
    }
  }
  .header-news{
    background-size: 38%;
    background-position: 0 105%, 100% -12%;
  }
  .header-services{
    background-size: 36%;
    background-position: 0 105%, 100% -12%;
  }
  .header-subcategory{
    background-size: 33%;
    background-position: 0 105%, 100% -12%;
  }
  .header-tasting{
    background-size: 38%;
    background-position: 0 105%, 100% -12%;
  }
  .subcategories-img-wrap{
    width:180px;
    height:180px;
  }
  .main-header nav>ul>li{
    margin: 0 8px;
    letter-spacing: 2px;
  }
  .product-info-text{
    max-width: 100%;
    width:100%;
    padding-left:0;
  }
  .main-header nav .menu>li>.sub-menu{
    flex-wrap: wrap;
  }
  .services-section .statistics-item{
    width:35%;
    margin-bottom:30px;
  }
  .statistics-section {
    background: url(../img/mint1.png) 10% 0 no-repeat,
    url(../img/coffee-cup3.png) 110% 13% no-repeat,
    url(../img/mint3.png) 83% 50% no-repeat,
    url(../img/coffee-cup4.png) 0 64% no-repeat,
    url(../img/small-seed.png) 91% 80% no-repeat,
    url(../img/two-seeds2.png) 90% 100% no-repeat;
  }
  .contact-block{
    margin-bottom:0;
  }
  .header-subcategory h1{
    font-size: 39px;
  }
}
@media screen and (max-width: 992px){
  .container{
    max-width: 750px;
    min-width: 750px;
  }
  .sub-menu.open{
    width:750px;
  }
  .main-header .logo{
    width:85px;
  }
  .main-header nav>ul>li{
    letter-spacing: 2px;
    margin: 0 5px;
  }
  .lang_select a{
    font-size: 13px;
    margin: 0 5px;
  }
  .lang_select li{
    display: block;
    margin: 5px 0;
  }
  .header-title{
    width:50%;
  }
  .header-image{
    width:35%;
  }
  .statistics-block{
    flex-wrap: wrap;
    justify-content: center;
  }

  .shop-block{
    flex-wrap: wrap;
    justify-content: center;
  }
  .shop-item{
    flex-grow:0;
    width:40%;
    margin-bottom:50px;
  }
  .shop-link{
    width:40%;
    margin-bottom:50px;
    padding: 80px 65px;
  }
  .equipment-block{
    flex-wrap: wrap;
  }
  .equipment-info{
    max-width: 100%;
    margin-bottom: 50px;
  }
  .equipment-image{
    width:100%;
    height:400px;

  }
  .android-block .img-wrap img, .apple-block .img-wrap img {
    width: 325px;
  }
  .android-block .img-wrap, .apple-block .img-wrap {
    height: 290px;
  }
  .app-section-wrap{
    align-items: center;
  }
  .subcategories-item{
    width:100%;
    padding-left: 40%;
  }
  .news-block{
    flex-wrap: wrap;
  }
  .news-item{
    margin-bottom: 30px;
  }
  .statistics-item{
    width:20%;
    &:nth-child(1) {
      .statistics-image-wrap {
        width: 140px;
        height: 175px;
        transform: rotate(5deg);
      }
    }
    &:nth-child(2) {
      .statistics-image-wrap {
        width: 145px;
        height: 175px;
        transform: rotate(-6deg);
      }
    }
    &:nth-child(3) {
      .statistics-image-wrap {
        width: 138px;
        height: 175px;
        transform: rotate(5deg);
      }
    }
    &:nth-child(4) {
      .statistics-image-wrap {
        width: 145px;
        height: 175px;
        transform: rotate(-3deg);
      }
    }
    &:nth-child(5) {
      .statistics-image-wrap {
        width: 140px;
        height: 175px;
        transform: rotate(4deg);
      }
    }
    &:nth-child(6) {
      .statistics-image-wrap {
        width: 145px;
        height: 175px;
        transform: rotate(-6deg);
      }
    }
    strong{
      font-size: 40px;
      .shadow_effect{
        font-size:50px;
      }
    }
    p{
      font-size:14px;
      padding:0;
    }
  }
  .header-image img {
    position: absolute;
    top: 0;
    left: -111px;
    width: 600px;
  }
  .contact-img, .contact-slider{
    height:380px;
  }
  .header-subcategory h1{
    font-size:39px;
  }
  .main-header nav .menu>li>.sub-menu>li{
    min-width: 160px;
  }
  .main-header nav .menu>li>.sub-menu>li>a{
    font-size: 18px;
  }
  .main-header nav .menu>li>.sub-menu>li a{
    font-size:16px;
  }

}