<link rel="stylesheet" href="css/style.css">
<script src="libs/jquery.min.js"></script>

<script>
    $(window).on('load', function () {
        var $preloader = $('.preloader'),
            $spinner   = $preloader.find('.preloader-wrap');
        $spinner.fadeOut();
        $preloader.delay(350).fadeOut('slow');
    });
</script>
<script src="libs/swiper.jquery.min.js"></script>
<script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5BEFeffM4Rw-Zjz0s-D_BAxbtnIyaU8E&callback">
</script>

<script src="js/main.js"></script>

</body>
</html>