<div class="callback-section">
    <div class="container">
        <div class="callback-block">
            <div class="map" id="map"></div>
            <!-- /.map -->
            <div class="dealer-block">
                <h2>Наші офіційні диллери</h2>
                <form>
                    <select class="map-address" id="">
                        <option data-map-lat="50.450309" data-map-lng="30.523766" selected>Київ</option>
                        <option data-map-lat="49.241678" data-map-lng="28.466715">Вінниця</option>
                        <option data-map-lat="46.471237" data-map-lng="30.727574">Одеса</option>
                    </select>
                </form>
                <h2>Контакти</h2>
                <ul>
                    <li class="icon-phone">
                        <a href="tel:+38044352721">+38 044 35 27 21</a>
                        <a href="tel:+38067362543">+38 067 36 25 43</a>
                    </li>
                    <li class="icon-email">
                        <a href="mailto:info@gimini.ua">info@gimini.ua</a>
                    </li>
                    <li class="icon-www">
                        <a href="http://www.kyiv.gemini.ua">www.kyiv.gemini.ua</a>
                    </li>
                    <li>вул. Анрі Барбюса 12а м. Київ</li>
                </ul>
            </div>
            <!-- /.dealer-item -->
            <form class="calback-form">
                <h2>Зворотній звя’зок</h2>
                <input type="text" placeholder="Ім'я">
                <input type="email" placeholder="Email">
                <textarea placeholder="Текст"></textarea>
                <button class="btn">Зв’язатись</button>
            </form>
            <!-- /.calback-form -->
        </div>
        <!-- /.callback-block -->
    </div>
    <!-- /.container -->
</div>
<!-- /.callback-section -->