<footer>
    <div class="container">
        <div class="footer-wrap">
            <div>
                <span class="logo">
                    <img src="../img/logo-dark.svg" alt="image">
                </span>
                <!-- /.logo -->
                <div class="copyright">
                    Все права защищены. Запрещено любое копирование <br>
                    материалов ресурса без письменного согласия владельца.
                </div>
                <!-- /.copyright -->
            </div>
            <div class="social-link">
                <a href="#" class="icon-fb"></a>
                <a href="#" class="icon-instagram"></a>
                <a href="#" class="icon-twitter"></a>
                <a href="#" class="icon-youtube-symbol"></a>
                <a href="#" class="icon-pinterest"></a>
                <a href="#" class="icon-google-plus"></a>
                <a class="email" href="mailto:info@gimini.ua">info@gimini.ua</a>
                <!-- /.email -->
            </div>
            <!-- /.social-link -->
        </div>
        <!-- /.footer-wrap -->
        <a href="https://red-carlos.com" target="_blank" class="rc">
            <img src="img/rc.svg" alt="RedCarlosStudio">
        </a>
        <!-- /.rc -->
        <style>
            .rc{
                display: block;
                float: right;
                width:200px;
            }
            .rc img{
                width:100%;
            }
        </style>
    </div>
    <!-- /.container -->
</footer>
</div>
<!-- /.content-wrap -->