<header class="main-header">
    <div class="container">
        <div class="header-wrap">
            <a href="#" class="logo">
                <img src="../img/logo.svg" alt="image">
            </a>
            <!-- /.logo -->
            <nav>
                <ul class="menu"><li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="http://test.airweb.studio/kompanyya-2/">Компания</a></li>
                    <li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current_page_ancestor menu-item-has-children menu-item-31"><a href="http://test.airweb.studio/produkyya/" class="active">Продукция</a>
                        <ul class="sub-menu">
                            <li id="menu-item-197" class="menu-item menu-item-type-taxonomy menu-item-object-product-category current-product-ancestor current-menu-ancestor current-menu-parent menu-item-has-children menu-item-197"><a href="http://test.airweb.studio/product-category/chaj/">Чай</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-459" class="menu-item menu-item-type-post_type menu-item-object-product current-menu-item menu-item-459"><a href="http://test.airweb.studio/product/espresso-oro-2/">Espresso ORO 2</a></li>
                                    <li id="menu-item-460" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-460"><a href="http://test.airweb.studio/product/espresso-oro/">Espresso ORO</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-198" class="menu-item menu-item-type-taxonomy menu-item-object-product-category current-product-ancestor menu-item-has-children menu-item-198"><a href="http://test.airweb.studio/product-category/kofe/">Кофе</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-455" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-455"><a href="http://test.airweb.studio/product/espresso-oro/">Espresso ORO</a></li>
                                    <li id="menu-item-456" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-456"><a href="http://test.airweb.studio/product/espresso-oro-5/">Espresso ORO</a></li>
                                    <li id="menu-item-457" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-457"><a href="http://test.airweb.studio/product/espresso-oro-4/">Espresso ORO</a></li>
                                    <li id="menu-item-458" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-458"><a href="http://test.airweb.studio/product/espresso-oro-3/">Espresso ORO</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-199" class="menu-item menu-item-type-taxonomy menu-item-object-product-category current-product-ancestor current-menu-ancestor current-menu-parent menu-item-has-children menu-item-199"><a href="http://test.airweb.studio/product-category/aksessuary/">Аксессуары</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-451" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-451"><a href="http://test.airweb.studio/product/espresso-oro-5/">Espresso ORO</a></li>
                                    <li id="menu-item-452" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-452"><a href="http://test.airweb.studio/product/espresso-oro-4/">Espresso ORO</a></li>
                                    <li id="menu-item-453" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-453"><a href="http://test.airweb.studio/product/espresso-oro-3/">Espresso ORO</a></li>
                                    <li id="menu-item-454" class="menu-item menu-item-type-post_type menu-item-object-product current-menu-item menu-item-454"><a href="http://test.airweb.studio/product/espresso-oro-2/">Espresso ORO 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-30" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30"><a href="http://test.airweb.studio/poslugy/">Послуги</a></li>
                    <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a href="http://test.airweb.studio/oborudovanye/">Оборудование</a></li>
                    <li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a href="http://test.airweb.studio/kontakty/">Контакты</a></li>
                </ul>            </nav>
            <div class="lang_select">
                <div id="lang_sel_list" class="lang_sel_list_horizontal">
                    <ul>
                        <li class="icl-en"><a href="http://test.airweb.studio/?lang=en" class="lang_sel_other">Eng</a>
                        </li>
                        <li class="icl-ru"><a href="http://test.airweb.studio/?lang=ru" class="lang_sel_other">Рус</a>
                        </li>
                        <li class="icl-uk"><a href="http://test.airweb.studio" class="lang_sel_sel">Укр</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.lang_select -->
        </div>
        <!-- /.header-wrap -->
    </div>
    <!-- /.container -->
</header>
<div class="preloader">
    <div class="preloader-wrap">
        <i class="icon-logo"></i>
        <i class="icon-logo"></i>
        <i class="icon-logo"></i>
        <i class="icon-logo"></i>
        <i class="icon-logo"></i>
        <i class="icon-logo"></i>
    </div>
</div>
<style>
    .preloader{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
        background: #f0f0f0;
        z-index:1000;
    }
    .preloader-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-180deg);
        width: 100px;
        height: 100px;
    }
    .preloader-wrap .icon-logo {
        position: absolute;
        width: 70px;
        height: 90px;
        opacity: 0;
        transform: rotate(225deg);
        animation-iteration-count: infinite;
        animation-name: orbit;
        animation-duration: 5.5s;
        color: #DB143C;
    }
    .preloader-wrap .icon-logo:nth-child(2) {
        animation-delay: 240ms;
    }
    .preloader-wrap .icon-logo:nth-child(3) {
        animation-delay: 480ms;
    }
    .preloader-wrap .icon-logo:nth-child(4) {
        animation-delay: 720ms;
    }
    .preloader-wrap .icon-logo:nth-child(5) {
        animation-delay: 960ms;
    }
    .preloader-wrap .icon-logo:nth-child(6) {
        animation-delay: 1200ms;
    }
    .preloader-wrap .icon-logo:nth-child(7) {
        animation-delay: 1440ms;
    }
    .preloader-wrap .icon-logo:nth-child(8) {
        animation-delay: 1680ms;
    }

    @keyframes orbit {
        0% {
            transform: rotate(225deg);
            opacity: 1;
            animation-timing-function: ease-out;
        }
        7% {
            transform: rotate(345deg);
            animation-timing-function: linear;
        }
        30% {
            transform: rotate(455deg);
            animation-timing-function: ease-in-out;
        }
        39% {
            transform: rotate(690deg);
            animation-timing-function: linear;
        }
        70% {
            transform: rotate(815deg);
            opacity: 1;
            animation-timing-function: ease-out;
        }
        75% {
            transform: rotate(945deg);
            animation-timing-function: ease-out;
        }
        76% {
            transform: rotate(945deg);
            opacity: 0;
        }
        100% {
            transform: rotate(945deg);
            opacity: 0;
        }
    }

</style>
<div class="popup-video">
    <div class="video-wrap">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/_Oh12ROTQCE?feature=oembed" frameborder="0"
                allowfullscreen=""></iframe>
    </div>
    <!-- /.video-wrap -->
</div>
<div class="content-wrap">
