<div class="news-section">
    <div class="container">
        <h2>Gemini новини</h2>
        <div class="news-block">
            <div class="news-item">
                <div class="news-img-wrap">
                    <img src="img/content-img1.jpg" alt="image">
                </div>
                <!-- /.news-img-wrap -->
                <div class="news-text-wrap">
                    <h3>Кофейные ясли</h3>
                    <span class="public-date">
                        Август 16th, 2017
                    </span>
                    <!-- /.public-date -->
                    <p>
                        Кофе тоже бывает маленьким или "Кофейные ясли" Мы уже рассказывали вам множество историй о происхождении кофейных деревьев в тех или иных странах, о влиянии климата на их рост, а также о методах сбора урожая. Но на самом...
                        <a href="#">ЩЕ</a>
                    </p>
                </div>
                <!-- /.news-text-wrap -->
            </div>
            <!-- /.news-item -->
            <div class="news-item">
                <div class="news-img-wrap">
                    <img src="img/content-img2.jpg" alt="image">
                </div>
                <!-- /.news-img-wrap -->
                <div class="news-text-wrap">
                    <h3>Кофейные ясли</h3>
                    <span class="public-date">
                        Август 16th, 2017
                    </span>
                    <!-- /.public-date -->
                    <p>
                        Кофе тоже бывает маленьким или "Кофейные ясли" Мы уже рассказывали вам множество историй о происхождении кофейных деревьев в тех или иных странах, о влиянии климата на их рост, а также о методах сбора урожая. Но на самом...
                        <a href="#">ЩЕ</a>
                    </p>
                </div>
                <!-- /.news-text-wrap -->
                </a>
                <!-- /.news-item -->
            </div>
            <!-- /.news-item -->
            <div class="news-item">
                <div class="news-img-wrap">
                    <img src="img/content-img3.jpg" alt="image">
                </div>
                <!-- /.news-img-wrap -->
                <div class="news-text-wrap">
                    <h3>Кофейные ясли</h3>
                    <span class="public-date">
                        Август 16th, 2017
                    </span>
                    <!-- /.public-date -->
                    <p>
                        Кофе тоже бывает маленьким или "Кофейные ясли" Мы уже рассказывали вам множество историй о происхождении кофейных деревьев в тех или иных странах, о влиянии климата на их рост, а также о методах сбора урожая. Но на самом...
                        <a href="#">ЩЕ</a>
                    </p>
                </div>
                <!-- /.news-text-wrap -->
                </a>
                <!-- /.news-item -->
            </div>
            <!-- /.news-item -->
            <div class="news-item">
                <div class="news-img-wrap">
                    <img src="img/content-img4.jpg" alt="image">
                </div>
                <!-- /.news-img-wrap -->
                <div class="news-text-wrap">
                    <h3>Кофейные ясли</h3>
                    <span class="public-date">
                        Август 16th, 2017
                    </span>
                    <!-- /.public-date -->
                    <p>
                        Кофе тоже бывает маленьким или "Кофейные ясли" Мы уже рассказывали вам множество историй о происхождении кофейных деревьев в тех или иных странах, о влиянии климата на их рост, а также о методах сбора урожая. Но на самом...
                        <a href="#">ЩЕ</a>
                    </p>
                </div>
                <!-- /.news-text-wrap -->
                </a>
                <!-- /.news-item -->
            </div>
            <!-- /.news-item -->
        </div>
        <!-- /.news-container -->
    </div>
    <!-- /.container -->
</div>
<!-- /.news-section -->