<div class="products-block">
    <a href="#" class="product-item">
        <div class="product-item-img">
            <img src="img/product_img-small.png" alt="image">
        </div>
        <!-- /.product-item-img -->
        <p>Espresso ORO</p>
    </a>
    <!-- /.product-item -->
    <a href="#" class="product-item">
        <div class="product-item-img">
            <img src="img/product_img-small.png" alt="image">
        </div>
        <!-- /.product-item-img -->
        <p>Espresso ORO</p>
    </a>
    <!-- /.product-item -->
    <a href="#" class="product-item">
        <div class="product-item-img">
            <img src="img/product_img-small.png" alt="image">
        </div>
        <!-- /.product-item-img -->
        <p>Espresso ORO</p>
    </a>
    <!-- /.product-item -->
    <a href="#" class="product-item">
        <div class="product-item-img">
            <img src="img/product_img-small.png" alt="image">
        </div>
        <!-- /.product-item-img -->
        <p>Espresso ORO</p>
    </a>
    <!-- /.product-item -->
</div>
<!-- /.subcategories-product-block -->