<div class="statistics-section">
    <div class="container">
        <h2>Наші переваги!</h2>
        <div class="statistics-block">
            <div class="statistics-item ">
                <div class="statistics-image-wrap statistics-year">
                    <img src="../img/statistics_year.png"
                         srcset="../img/statistics_year.png 1x, img/statistics_year@2x.png 2x, img/statistics_year@3x.png"
                         alt="image">
                </div>
                <!-- /.advantage-image-wrap -->
                <strong>
                    21
                    <small>рік</small>
                    <span class="shadow_effect">
                         21<small>рік</small>
                    </span>
                    <!-- /.shadow_effect -->
                </strong>
                <p>
                    21 Рік досвіду і Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            </div>
            <!-- /.advantage-item -->
            <div class="statistics-item">
                <div class="statistics-image-wrap statistics-weight">
                    <img src="../img/statistics_weight.png"
                         srcset="../img/statistics_weight.png 1x, img/statistics_weight@2x.png 2x, img/statistics_weight@3x.png"
                         alt="image">
                </div>
                <!-- /.advantage-image-wrap -->
                <strong>
                    74
                    <small>млн.кг</small>
                    <span class="shadow_effect">
                         74<small>млн.кг</small>
                    </span>
                    <!-- /.shadow_effect -->
                </strong>
                <p>
                    кави виготовлено на заводах
                </p>
            </div>
            <!-- /.advantage-item -->
            <div class="statistics-item">
                <div class="statistics-image-wrap statistics-machine">
                    <img src="../img/statistics_machine.png"
                         srcset="../img/statistics_machine.png 1x, img/statistics_machine@2x.png 2x, img/statistics_machine@3x.png"
                         alt="image">
                </div>
                <!-- /.advantage-image-wrap -->
                <strong>
                    12 647
                    <span class="shadow_effect">
                      12 647
                    </span>
                    <!-- /.shadow_effect -->
                </strong>
                <p>
                    Кавових автоматів встановлено
                </p>
            </div>
            <!-- /.advantage-item -->
            <div class="statistics-item">
                <div class="statistics-image-wrap statistics-service">
                    <img src="../img/statistics_service.png"
                         srcset="../img/statistics_service.png 1x, img/statistics_service@2x.png 2x, img/statistics_service@3x.png"
                         alt="image">
                </div>
                <!-- /.advantage-image-wrap -->
                <strong>
                    7 364
                    <span class="shadow_effect">
                  7 364
                    </span>
                    <!-- /.shadow_effect -->
                </strong>
                <p>
                    сертифікованих
                    сервісних центрів
                </p>
            </div>
            <!-- /.advantage-item -->
        </div>
        <!-- /.advantage-block -->
    </div>
    <!-- /.container -->
</div>
<!-- /.advantage_section -->