<div class="app-section">
    <div class="container">
        <div class="app-section-wrap">
            <?php while ( have_rows('gemini_club_left_block') ) : the_row(); ?>
            <div class="apple-block">
                <div class="img-wrap">
                    <?php $image_src = get_sub_field('img'); ?>
                    <img src="<?php echo $image_src; ?>" srcset="<?php echo $image_src; ?> , <?php echo get_srcset_by_img_src($image_src); ?>" alt="image">
                </div>
                <!-- /.img-wrap -->
                <a href="<?php the_sub_field('href'); ?>">
                    <?php $image_src = get_sub_field('img_href'); ?>
                    <img src="<?php echo $image_src; ?>" srcset="<?php echo $image_src; ?> , <?php echo get_srcset_by_img_src($image_src); ?>" alt="image">
                </a>
            </div>
            <?php endwhile; ?>
            <!-- /.apple-block -->
            <?php while ( have_rows('gemini_club_middle_block') ) : the_row(); ?>
            <div class="app-block">
                <?php the_sub_field('desc_gemini_club'); ?>
                <div class="app-calback">
                    <ul>
                        <?php $i = 1; while ( have_rows('gemini_advantages') ) : the_row(); ?>
                        <li>
                            <strong><?php echo $i; ?></strong> <?php the_sub_field('adv_desc'); ?>
                        </li>
                        <?php $i++; endwhile; ?>
                    </ul>
                    <form class="subscribe-form">
                        <strong><?php the_sub_field('form_title'); ?></strong>
                        <input id="contact_phone" required type="tel" placeholder="<?php the_sub_field('phone_placeholder'); ?>">
                        <button type="submit" class="btn"><?php the_sub_field('phone_submit_button'); ?></button>
                    </form>
                </div>
                <!-- /.app-calback -->
            </div>
            <?php endwhile; ?>
            <!-- /.app-form-block -->

            <?php while ( have_rows('gemini_club_right_block') ) : the_row(); ?>

            <div class="android-block">
                <div class="img-wrap">
                    <?php $image_src = get_sub_field('img'); ?>
                    <img src="<?php echo $image_src; ?>" srcset="<?php echo $image_src; ?> , <?php echo get_srcset_by_img_src($image_src); ?>" alt="image">
                </div>
                <!-- /.img-wrap -->
                <a href="<?php the_sub_field('href'); ?>">
                    <?php $image_src = get_sub_field('img_href'); ?>
                    <img src="<?php echo $image_src; ?>" srcset="<?php echo $image_src; ?> , <?php echo get_srcset_by_img_src($image_src); ?>" alt="image">
                </a>
            </div>
            <?php endwhile; ?>

        </div>
        <!-- /.app-section-wrap -->
    </div>


    <!-- /.container -->
</div>
<!-- /.app-section -->