//= _blocks/_head.html

//= _blocks/_header.html

<div class="header-category">
    <div class="parallax-scene" id="scene">
        <div class="header-bg-layer-1" data-depth="0.2"></div>
        <!-- /.header-bg-layer-1 -->
        <div class="header-bg-layer-2" data-depth="0.1"></div>
        <!-- /.header-bg-layer-2 -->
        <div class="header-bg-layer-3" data-depth="0.3"></div>
        <!-- /.header-bg-layer-2 -->
    </div>
    <div class="container">
        <h1>КАВА GEMINI</h1>
        <p>Відчуй смак натхнення</p>
    </div>
    <!-- /.container -->
</div>
<!-- /.header-category -->
<div class="subcategories-section">
    <div class="container">
        <div class="subcategories-block">
            <a href="#" class="subcategories-item">
                <div class="subcategories-img-wrap">
                    <img src="img/seeds-coffe.png"
                         srcset="img/seeds-coffe.png 1x, img/seeds-coffe@2x.png 2x, img/seeds-coffe@3x.png 3x,"  alt="image">
                </div>
                <!-- /.subcategories-img-wrap -->
                <h3>Кава в зернах</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sollicitudin est felis, vitae volutpat massa dictum nec.
                </p>
            </a>
            <!-- /.subcategories-item -->
            <a href="#" class="subcategories-item">
                <div class="subcategories-img-wrap">
                    <img src="img/mono-coffe.png"
                         srcset="img/mono-coffe.png 1x, img/mono-coffe@2x.png 2x, img/mono-coffe@3x.png 3x,"  alt="image">
                </div>
                <!-- /.subcategories-img-wrap -->
                <h3>Моносорта</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sollicitudin est felis, vitae volutpat massa dictum nec.
                </p>
            </a>
            <!-- /.subcategories-item -->
            <a href="#" class="subcategories-item">
                <div class="subcategories-img-wrap">
                    <img src="img/seeds-coffe.png"
                         srcset="img/ground-coffee.png 1x, img/ground-coffee@2x.png 2x, img/ground-coffee@3x.png 3x,"  alt="image">
                </div>
                <!-- /.subcategories-img-wrap -->
                <h3>Мелена кава</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sollicitudin est felis, vitae volutpat massa dictum nec.
                </p>
            </a>
            <!-- /.subcategories-item -->
            <a href="#" class="subcategories-item">
                <div class="subcategories-img-wrap">
                    <img src="img/seeds-coffe.png"
                         srcset="img/coffe_pods.png 1x, img/coffe_pods@2x.png 2x, img/coffe_pods@3x.png 3x,"  alt="image">
                </div>
                <!-- /.subcategories-img-wrap -->
                <h3>Кава в чалдах</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sollicitudin est felis, vitae volutpat massa dictum nec.
                </p>
            </a>
            <!-- /.subcategories-item -->
        </div>
        <!-- /.subcategories-block -->
    </div>
    <!-- /.container -->
</div>
<!-- /.subcategories-section -->
<div class="shop-section">
    <div class="container">
        <div class="shop-block">

            <a href="#" class="shop-item tea-item">
                <img src="img/tea_img.png"
                     srcset="img/tea_img.png 1x, img/tea_img@2x.png 2x, img/tea_img@3x.png 3x" alt="image">
                <strong>
                    Чай
                </strong>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </a>
            <!-- /.shop-item -->

            <a href="#" class="shop-item accessories-item">
                <img src="img/accessories_img.png"
                     srcset="img/accessories_img.png 1x, img/accessories_img@2x.png 2x, img/accessories_img@3x.png 3x"
                     alt="image">
                <strong>
                    Аксесуари
                </strong>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </a>
            <!-- /.shop-item -->
            <a href="#" class="shop-link">
                <img src="img/shop_img.png"
                     srcset="img/shop_img.png 1x, img/shop_img@2x.png 2x, img/shop_img@3x.png 3x" alt="image">
                <strong>
                    Онлайн
                    магазин
                </strong>

            </a>
            <!-- /.shop-item -->
        </div>
        <!-- /.shop-block -->
    </div>
    <!-- /.container -->
</div>
<!-- /.shop-section -->
//= _blocks/_statistics.html

//= _blocks/_news.html

//= _blocks/_callback.html

//= _blocks/_footer.html

<script src="libs/parallax.js"></script>
<script>
    var scene = document.getElementById('scene');
    var parallaxInstance = new Parallax(scene);
</script>
    //= _blocks/_bottom-page.html