//= _blocks/_head.html

//= _blocks/_header.html

<div class="header-contacts">
    <div class="parallax-scene" id="scene">
        <div class="header-bg-layer-1" data-depth="0.2"></div>
        <!-- /.header-bg-layer-1 -->
        <div class="header-bg-layer-2" data-depth="0.1"></div>
        <!-- /.header-bg-layer-2 -->
        <div class="header-bg-layer-3" data-depth="0.3"></div>
        <!-- /.header-bg-layer-2 -->
    </div>
    <div class="container">
        <img src="img/contacts-map.svg" alt="image">
    </div>
    <!-- /.container -->
</div>
<!-- /.news-category -->
<div class="callback-section">
    <div class="container">
        <div class="callback-block">
            <div class="map" id="map"></div>
            <!-- /.map -->
            <div class="contact-info">
                <ul>
                    <li class="icon-map">
                        <strong>Адреса виробництва</strong>
                        <p>Киевская область, Броварской р-н,
                            п. Великая Дымерка</p>
                    </li>
                    <li class="icon-phone">
                        <strong>Телефони контакт-центру</strong>
                        <p>
                            +380 (44) 239-55-88
                        </p>
                        <p>
                            +380 (66) 239-55-88
                        </p>
                        <p>
                            +380 (63) 239-55-88
                        </p>
                        <p>
                            +380 (68) 239-55-88
                        </p>

                    </li>
                    <li class="icon-email">
                        <strong>Пошта для зв’язку</strong>
                        <p>zakaz@caffe.com.ua</p>
                    </li>
                    <li class="icon-time">
                        <strong>Час роботи контакт-центру</strong>
                        <p>Пн-Пт 8:00—19:00   Сб-НД — Вихідний</p>
                    </li>
                </ul>
            </div>
            <!-- /.contact-info -->
            <form class="calback-form">
                <h2>Зворотній звя’зок</h2>
                <input type="text" placeholder="Ім'я">
                <input type="email" placeholder="Email">
                <textarea placeholder="Текст"></textarea>
                <button class="btn">Зв’язатись</button>
            </form>
            <!-- /.calback-form -->
        </div>
        <!-- /.callback-block -->
    </div>
    <!-- /.container -->
</div>
<!-- /.callback-section -->
<div class="container">
    <div class="contact-block">
        <div class="contact-img">
            <img src="img/contacts.png" alt="image">
        </div>
        <!-- /.contact-img -->
        <div class="contact-info">
            <ul>
                <li>
                    <strong>Адреса виробництва</strong>
                    <p>Киевская область, Броварской р-н,
                        п. Великая Дымерка</p>
                </li>
                <li>
                    <strong>Телефони контакт-центру</strong>
                    <p>
                        +380 (44) 239-55-88
                    </p>
                    <p>
                        +380 (66) 239-55-88
                    </p>
                    <p>
                        +380 (63) 239-55-88
                    </p>
                    <p>
                        +380 (68) 239-55-88
                    </p>

                </li>
                <li>
                    <strong>Пошта для зв’язку</strong>
                    <p>zakaz@caffe.com.ua</p>
                </li>
                <li>
                    <strong>Час роботи контакт-центру</strong>
                    <p>Пн-Пт 8:00—19:00   Сб-НД — Вихідний</p>
                </li>
            </ul>
        </div>
        <!-- /.contact-info -->
    </div>
    <!-- /.contacts-block -->
    <div class="contact-block contact-gallery">
        <div class="contact-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide contact-img">
                        <img src="img/contacts.png" alt="image">
                </div>
                <!-- /.swiper-slide -->
                <div class="swiper-slide contact-img">
                    <img src="img/contacts.png" alt="image">
                </div>
                <div class="swiper-slide contact-img">
                    <img src="img/contacts.png" alt="image">
                </div>
            </div>
            <!-- /.swiper-wrapper -->
            <div class="gallery-button-next"><span></span></div>
            <div class="gallery-button-prev"><span></span></div>
        </div>
        <!-- /.contact-img -->
        <div class="contact-info">
            <ul>
                <li>
                    <strong>Адреса виробництва</strong>
                    <p>Киевская область, Броварской р-н,
                        п. Великая Дымерка</p>
                </li>
                <li>
                    <strong>Телефони контакт-центру</strong>
                    <p>
                        +380 (44) 239-55-88
                    </p>
                    <p>
                        +380 (66) 239-55-88
                    </p>
                    <p>
                        +380 (63) 239-55-88
                    </p>
                    <p>
                        +380 (68) 239-55-88
                    </p>

                </li>
                <li>
                    <strong>Пошта для зв’язку</strong>
                    <p>zakaz@caffe.com.ua</p>
                </li>
                <li>
                    <strong>Час роботи контакт-центру</strong>
                    <p>Пн-Пт 8:00—19:00   Сб-НД — Вихідний</p>
                </li>
            </ul>
        </div>
        <!-- /.contact-info -->
    </div>
    <!-- /.contacts-block -->
    <div class="contact-block contact-gallery">
        <div class="contact-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide contact-img">
                    <img src="img/contacts.png" alt="image">
                </div>
                <!-- /.swiper-slide -->
                <div class="swiper-slide contact-img">
                    <img src="img/contacts.png" alt="image">
                </div>
                <div class="swiper-slide contact-img">
                    <img src="img/contacts.png" alt="image">
                </div>
            </div>
            <!-- /.swiper-wrapper -->
            <div class="gallery-button-next"><span></span></div>
            <div class="gallery-button-prev"><span></span></div>
        </div>
        <!-- /.contact-img -->
        <div class="contact-info">
            <ul>
                <li>
                    <strong>Адреса виробництва</strong>
                    <p>Киевская область, Броварской р-н,
                        п. Великая Дымерка</p>
                </li>
                <li>
                    <strong>Телефони контакт-центру</strong>
                    <p>
                        +380 (44) 239-55-88
                    </p>
                    <p>
                        +380 (66) 239-55-88
                    </p>
                    <p>
                        +380 (63) 239-55-88
                    </p>
                    <p>
                        +380 (68) 239-55-88
                    </p>

                </li>
                <li>
                    <strong>Пошта для зв’язку</strong>
                    <p>zakaz@caffe.com.ua</p>
                </li>
                <li>
                    <strong>Час роботи контакт-центру</strong>
                    <p>Пн-Пт 8:00—19:00   Сб-НД — Вихідний</p>
                </li>
            </ul>
        </div>
        <!-- /.contact-info -->
    </div>
</div>
<!-- /.container -->

//= _blocks/_footer.html



<script src="libs/parallax.js"></script>
<script>
    var scene = document.getElementById('scene');
    var parallaxInstance = new Parallax(scene);
</script>
    //= _blocks/_bottom-page.html