//= _blocks/_head.html
<body>
<div class="preloader">
    <div class="preloader-wrap">
        <i class="icon-logo"></i>
        <i class="icon-logo"></i>
        <i class="icon-logo"></i>
        <i class="icon-logo"></i>
        <i class="icon-logo"></i>
        <i class="icon-logo"></i>
    </div>
</div>
<style>
    .preloader{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
        background: #f0f0f0;
        z-index:1000;
    }
    .preloader-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-180deg);
        width: 100px;
        height: 100px;
    }
    .preloader-wrap .icon-logo {
        position: absolute;
        width: 70px;
        height: 90px;
        opacity: 0;
        transform: rotate(225deg);
        animation-iteration-count: infinite;
        animation-name: orbit;
        animation-duration: 5.5s;
        color: #DB143C;
    }
    .preloader-wrap .icon-logo:nth-child(2) {
        animation-delay: 240ms;
    }
    .preloader-wrap .icon-logo:nth-child(3) {
        animation-delay: 480ms;
    }
    .preloader-wrap .icon-logo:nth-child(4) {
        animation-delay: 720ms;
    }
    .preloader-wrap .icon-logo:nth-child(5) {
        animation-delay: 960ms;
    }
    .preloader-wrap .icon-logo:nth-child(6) {
        animation-delay: 1200ms;
    }
    .preloader-wrap .icon-logo:nth-child(7) {
        animation-delay: 1440ms;
    }
    .preloader-wrap .icon-logo:nth-child(8) {
        animation-delay: 1680ms;
    }

    @keyframes orbit {
        0% {
            transform: rotate(225deg);
            opacity: 1;
            animation-timing-function: ease-out;
        }
        7% {
            transform: rotate(345deg);
            animation-timing-function: linear;
        }
        30% {
            transform: rotate(455deg);
            animation-timing-function: ease-in-out;
        }
        39% {
            transform: rotate(690deg);
            animation-timing-function: linear;
        }
        70% {
            transform: rotate(815deg);
            opacity: 1;
            animation-timing-function: ease-out;
        }
        75% {
            transform: rotate(945deg);
            animation-timing-function: ease-out;
        }
        76% {
            transform: rotate(945deg);
            opacity: 0;
        }
        100% {
            transform: rotate(945deg);
            opacity: 0;
        }
    }

</style>
<header class="main-header">
    <div class="container">
        <div class="header-wrap">
            <a href="http://c.redcarlos.com" class="logo">

                <img src="http://c.redcarlos.com/wp-content/themes/gemini/assets/img/logo.svg" alt="image">
            </a>
            <!-- /.logo -->
            <nav>
                <ul class="menu"><li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-31"><a href="http://c.redcarlos.com/produkyya/">Продукція</a>
                    <ul class="sub-menu">
                        <li id="menu-item-198" class="menu-item menu-item-type-taxonomy menu-item-object-product-category menu-item-has-children menu-item-198"><a href="http://c.redcarlos.com/product-category/kava/">Кава</a>
                            <ul class="sub-menu">
                                <li id="menu-item-1701" class="menu-item menu-item-type-taxonomy menu-item-object-product-category menu-item-1701"><a href="http://c.redcarlos.com/product-category/kava-v-zernah/">Кава в зернах</a></li>
                                <li id="menu-item-1704" class="menu-item menu-item-type-taxonomy menu-item-object-product-category menu-item-1704"><a href="http://c.redcarlos.com/product-category/melena-kava/">Мелена кава</a></li>
                                <li id="menu-item-1703" class="menu-item menu-item-type-taxonomy menu-item-object-product-category menu-item-1703"><a href="http://c.redcarlos.com/product-category/arabica/">Арабіка</a></li>
                                <li id="menu-item-1702" class="menu-item menu-item-type-taxonomy menu-item-object-product-category menu-item-1702"><a href="http://c.redcarlos.com/product-category/kava-v-chaldah-kapsulah/">Кава в чалдах / капсулах</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-1666" class="menu-item menu-item-type-taxonomy menu-item-object-product-category menu-item-has-children menu-item-1666"><a href="http://c.redcarlos.com/product-category/chay/">Чай</a>
                            <ul class="sub-menu">
                                <li id="menu-item-1668" class="menu-item menu-item-type-taxonomy menu-item-object-product-category menu-item-1668"><a href="http://c.redcarlos.com/product-category/shornyy-chay/">Чорний чай</a></li>
                                <li id="menu-item-1669" class="menu-item menu-item-type-taxonomy menu-item-object-product-category menu-item-1669"><a href="http://c.redcarlos.com/product-category/zelenyy-chay/">Зелений чай</a></li>
                                <li id="menu-item-1760" class="menu-item menu-item-type-taxonomy menu-item-object-product-category menu-item-1760"><a href="http://c.redcarlos.com/product-category/travyanyy-chay/">Трав&#8217;яний чай</a></li>
                                <li id="menu-item-2109" class="menu-item menu-item-type-taxonomy menu-item-object-product-category menu-item-2109"><a href="http://c.redcarlos.com/product-category/fruktovyy-chay/">Фруктовий чай</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-199" class="menu-item menu-item-type-taxonomy menu-item-object-product-category menu-item-has-children menu-item-199"><a href="http://c.redcarlos.com/product-category/aksesuary/">Аксессуари</a>
                            <ul class="sub-menu">
                                <li id="menu-item-1705" class="menu-item menu-item-type-taxonomy menu-item-object-product-category menu-item-1705"><a href="http://c.redcarlos.com/product-category/paperovi-stakanchyky/">Паперові стаканчики</a></li>
                                <li id="menu-item-1706" class="menu-item menu-item-type-taxonomy menu-item-object-product-category menu-item-1706"><a href="http://c.redcarlos.com/product-category/tsukor-v-stikakh/">Цукор в стіках</a></li>
                                <li id="menu-item-1707" class="menu-item menu-item-type-taxonomy menu-item-object-product-category menu-item-1707"><a href="http://c.redcarlos.com/product-category/inventar-dlya-barysta/">Інвентар для бариста</a></li>
                                <li id="menu-item-2110" class="menu-item menu-item-type-taxonomy menu-item-object-product-category menu-item-2110"><a href="http://c.redcarlos.com/product-category/posud/">Посуд</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                    <li id="menu-item-30" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30"><a href="http://c.redcarlos.com/poslugy/">Послуги</a></li>
                    <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-29"><a href="http://c.redcarlos.com/oborudovanye/">Кавоварки</a>
                        <ul class="sub-menu">
                            <li id="menu-item-1757" class="menu-item menu-item-type-taxonomy menu-item-object-product-category menu-item-1757"><a href="http://c.redcarlos.com/product-category/superavtomaty/">Суперавтомати</a></li>
                            <li id="menu-item-1790" class="menu-item menu-item-type-taxonomy menu-item-object-product-category menu-item-1790"><a href="http://c.redcarlos.com/product-category/prof-kavovarky-ta-kavomolky/">Професійні кавоварки та кавомолки</a></li>
                            <li id="menu-item-1758" class="menu-item menu-item-type-taxonomy menu-item-object-product-category menu-item-1758"><a href="http://c.redcarlos.com/product-category/avtomatychni-kavovarky/">Автоматичні кавоварки</a></li>
                            <li id="menu-item-1755" class="menu-item menu-item-type-taxonomy menu-item-object-product-category menu-item-1755"><a href="http://c.redcarlos.com/product-category/chaldovi-kavovarky/">Чалдові кавоварки</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-2946" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2946"><a href="http://c.redcarlos.com/kurs-barista-junior-ot-gemini-barista-school/">Новини</a></li>
                    <li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a href="http://c.redcarlos.com/kontakty/">Контакти</a></li>
                </ul>            </nav>
            <div class="lang_select">

                <div class="lang_sel_list_horizontal wpml-ls-statics-shortcode_actions wpml-ls wpml-ls-legacy-list-horizontal" id="lang_sel_list">
                    <ul><li class="icl-en wpml-ls-slot-shortcode_actions wpml-ls-item wpml-ls-item-en wpml-ls-first-item wpml-ls-item-legacy-list-horizontal">
                        <a href="http://c.redcarlos.com/en/" class="lang_sel_other"><span class="wpml-ls-native icl_lang_sel_native">Eng</span></a>
                    </li><li class="icl-ru wpml-ls-slot-shortcode_actions wpml-ls-item wpml-ls-item-ru wpml-ls-item-legacy-list-horizontal">
                        <a href="http://c.redcarlos.com/ru/" class="lang_sel_other"><span class="wpml-ls-native icl_lang_sel_native">Рус</span></a>
                    </li><li class="icl-uk wpml-ls-slot-shortcode_actions wpml-ls-item wpml-ls-item-uk wpml-ls-current-language wpml-ls-last-item wpml-ls-item-legacy-list-horizontal">
                        <a href="http://c.redcarlos.com/" class="lang_sel_sel"><span class="wpml-ls-native icl_lang_sel_native">Укр</span></a>
                    </li></ul>
                </div>            </div>
            <!-- /.lang_select -->
        </div>
        <!-- /.header-wrap -->
    </div>
    <!-- /.container -->

</header>
<div class="popup-video">
    <div class="video-wrap">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/Y66-0l20W8o?feature=oembed" frameborder="0" allowfullscreen></iframe>    </div>
</div>

<div class="content-wrap">
    <div class="header-section">
        <div class="parallax-scene" id="scene">
            <div class="header-bg-layer-1" data-depth="0.2"></div>
            <!-- /.header-bg-layer-1 -->
            <div class="header-bg-layer-2" data-depth="0.1"></div>
            <!-- /.header-bg-layer-2 -->
            <div class="header-bg-layer-3" data-depth="0.3"></div>
            <!-- /.header-bg-layer-2 -->
        </div>

        <div class="container">
            <div class="header-section-wrap">
                <div class="header-title">
                    <h1>СЕКРЕТ<br />
                        ІДЕАЛЬНОЇ<br />
                        КАВИ</h1>
                    <p>для твоїх перемог</p>
                </div>
                <!-- /.header-title -->

                <div class="header-image">
                    <img src="http://c.redcarlos.com/wp-content/uploads/2017/09/play.png" srcset="http://c.redcarlos.com/wp-content/uploads/2017/09/play.png , http://c.redcarlos.com/wp-content/uploads/2017/09/play-300x169.png 300w, http://c.redcarlos.com/wp-content/uploads/2017/09/play-768x431.png 768w, http://c.redcarlos.com/wp-content/uploads/2017/09/play.png 858w" alt="image">

                </div>
                <!-- /.header-image -->
            </div>
            <!-- /.header-section-wrap -->
            <div class="scroll-down">
                <p>Прокручуй до низу</p>
                <div class="scroll-btn">
                    <div class="scroll-btn-body"></div>
                    <div class="scroll-btn-arrow"></div>
                    <!-- /.scroll-btn-body -->
                </div>
                <!-- /.scroll-btn -->
            </div>
            <!-- /.scroll-down -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.header-section -->

    <div class="statistics-section">
        <div class="container">
            <h2>Наші переваги!</h2>
            <div class="statistics-block">
                <div class="statistics-item ">
                    <div class="statistics-image-wrap statistics-year">
                        <img src="http://c.redcarlos.com/wp-content/uploads/2017/09/statistics_year.png" srcset="http://c.redcarlos.com/wp-content/uploads/2017/09/statistics_year.png , " alt="image">
                    </div>
                    <!-- /.advantage-image-wrap -->
                    <strong>
                        21                    <small>рік</small>
                        <span class="shadow_effect">
                        21<small>рік</small>
                    </span>
                        <!-- /.shadow_effect -->
                    </strong>
                    <p>
                        досвіду, протягом котрих ми ніколи не економили на якості                </p>
                </div>
                <!-- /.advantage-item -->
                <div class="statistics-item">
                    <div class="statistics-image-wrap statistics-weight">
                        <img src="http://c.redcarlos.com/wp-content/uploads/2017/09/statistics_weight.png" srcset="http://c.redcarlos.com/wp-content/uploads/2017/09/statistics_weight.png , " alt="image">
                    </div>
                    <!-- /.advantage-image-wrap -->
                    <strong>
                        23                    <small>млн. кг.</small>
                        <span class="shadow_effect">
                         23<small>млн. кг.</small>
                    </span>
                        <!-- /.shadow_effect -->
                    </strong>
                    <p>
                        кави виготовлено на власному виробництві з новітнім італійським обладнанням                </p>
                </div>
                <!-- /.advantage-item -->
                <div class="statistics-item">
                    <div class="statistics-image-wrap statistics-machine">
                        <img src="http://c.redcarlos.com/wp-content/uploads/2017/09/statistics_machine.png" srcset="http://c.redcarlos.com/wp-content/uploads/2017/09/statistics_machine.png , " alt="image">
                    </div>
                    <!-- /.advantage-image-wrap -->
                    <strong>
                        12 647                    <span class="shadow_effect">
                      12 647                    </span>
                        <!-- /.shadow_effect -->
                    </strong>
                    <p>
                        професійних та автоматичних кавомашин було встановлено                </p>
                </div>
                <!-- /.advantage-item -->
                <div class="statistics-item">
                    <div class="statistics-image-wrap statistics-service">
                        <img src="http://c.redcarlos.com/wp-content/uploads/2017/09/statistics_service.png" srcset="http://c.redcarlos.com/wp-content/uploads/2017/09/statistics_service.png , " alt="image">
                    </div>
                    <!-- /.advantage-image-wrap -->
                    <strong>
                        17 364                    <span class="shadow_effect">
                  17 364                    </span>
                        <!-- /.shadow_effect -->
                    </strong>
                    <p>
                        клієнтів та партнерів по всій Україні та в світі                </p>
                </div>
                <!-- /.advantage-item -->
            </div>
            <!-- /.advantage-block -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.advantage_section -->
    <div class="shop-section">
        <div class="container">
            <div class="shop-block">
                <a href="http://c.redcarlos.com/product-category/kava/" class="shop-item tea-item">
                    <img src="http://c.redcarlos.com/wp-content/uploads/2017/10/coffee-cup.png" srcset="http://c.redcarlos.com/wp-content/uploads/2017/10/coffee-cup.png , " alt="image">
                    <strong>
                        Кава                    </strong>
                    <p>
                        Свіжеобсмажена натуральна кава на будь-який смак                    </p>
                </a>
                <!-- /.shop-item -->

                <!-- /.shop-item -->
                <a href="#" class="shop-link">
                    <img src="http://c.redcarlos.com/wp-content/themes/gemini/assets/img/shop_img.png"
                         srcset="http://c.redcarlos.com/wp-content/themes/gemini/assets/img/shop_img.png 1x, http://c.redcarlos.com/wp-content/themes/gemini/assets/img/shop_img@2x.png 2x, http://c.redcarlos.com/wp-content/themes/gemini/assets/img/shop_img@3x.png 3x" alt="image">
                    <strong>
                        Онлайн магазин                </strong>
                </a>
                <!-- /.shop-item -->
            </div>
            <!-- /.shop-block -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.shop-section -->

    <div class="equipment-section">
        <div class="container">
            <div class="equipment-block">
                <div class="equipment-info">
                    <h2>Кавове обладнання</h2>
                    <p>Приготування ідеального еспресо неможливе без професійного обладнання. Саме завдяки йому кава дарує нам свої найцінніші компоненти і напій набуває насиченого смаку та аромату, котрі здатні подарувати справжню насолоду.</p>
                    <h3 class="icon-logo"> Продаж</h3>
                    <p>Ми допоможемо обрати обладнання, котре ідеально підійде саме вам та абсолютно відповідатиме поставленим цілям. За Вашим бажанням проведемо дегустацію та навчимо працювати з обраною кавомашиною.</p>
                    <h3 class="icon-logo"> Оренда</h3>
                    <p>Ви можете взяти в оренду як професійне обладнання, так і кавоварку в офіс або додому. Ми з задоволенням проконсультуємо Вас щодо умов оренди та типу обладнання.</p>
                    <a href="#" class="btn">До каталогу</a>
                </div>
                <!-- /.equipment-info -->
                <div class="equipment-image">
                    <div class="equipment-image-wrap">
                        <img src="http://c.redcarlos.com/wp-content/uploads/2017/09/machine.png" srcset="http://c.redcarlos.com/wp-content/uploads/2017/09/machine.png , http://c.redcarlos.com/wp-content/uploads/2017/09/machine-300x158.png 300w, http://c.redcarlos.com/wp-content/uploads/2017/09/machine.png 478w" alt="image">
                    </div>
                    <!-- /.equipment-image-wrap -->

                    <div class="equipment-image-shadow"></div>
                    <!-- /.equipment-image-shadow -->
                </div>
                <!-- /.equipment-image -->
            </div>
            <!-- /.equipment-block -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.equipment-section -->


    <div class="app-section" style="display: none;">
        <div class="container">
            <div class="app-section-wrap">
                <!-- /.apple-block -->
                <!-- /.app-form-block -->


            </div>
            <!-- /.app-section-wrap -->
        </div>


        <!-- /.container -->
    </div>
    <!-- /.app-section -->

    <div class="news-section">
        <div class="container">
            <h2>Gemini новини</h2>

            <div class="news-block">
                <div class="news-item">
                    <a href="http://c.redcarlos.com/kava-v-chaldah-osoblyvosti-prygotuvannya/" class="news-img-wrap">
                        <img width="202" height="200" src="http://c.redcarlos.com/wp-content/uploads/2017/10/NBB_1186.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />                    </a>
                    <!-- /.news-img-wrap -->
                    <div class="news-text-wrap">
                        <h3>Кава в чалдах, особливості приготування</h3>
                        <span class="public-date">
                        16.10.2017                    </span>
                        <!-- /.public-date -->
                        <p>
                            &nbsp; Слово «чалда» (з італ. «Cialda» - «вафля») прийшло до нас з Італії, де місцеві виробники кави придумали унікальний спосіб швидкого заварювання порційного еспресо і чаю. Кава в чалдах - це обсмажені змелені зерна, спресовані в одноразові фільтр-пакети з двох шарів...                                                        <a href="http://c.redcarlos.com/kava-v-chaldah-osoblyvosti-prygotuvannya/">ЩЕ                            </a>
                        </p>
                    </div>
                    <!-- /.news-text-wrap -->
                </div>
                <div class="news-item">
                    <a href="http://c.redcarlos.com/plany-na-osin-abo-shho-chytaye-ilon-mask-za-chashkoyu-kavy/" class="news-img-wrap">
                        <img width="483" height="406" src="http://c.redcarlos.com/wp-content/uploads/2017/10/a-chashechkoj-kofe.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />                    </a>
                    <!-- /.news-img-wrap -->
                    <div class="news-text-wrap">
                        <h3>Плани на осінь або що читає Ілон Маск за чашкою кави?</h3>
                        <span class="public-date">
                        13.10.2017                    </span>
                        <!-- /.public-date -->
                        <p>
                            Багато хто не любить осінь, вважаючи її холодною та дощовою. З цим важко посперечатися, однак в осені є свій неповторний шарм і навіть своє призначення. Це ідеальний час для того, щоб ставити питання і знаходити на них відповіді. Це час...                                                        <a href="http://c.redcarlos.com/plany-na-osin-abo-shho-chytaye-ilon-mask-za-chashkoyu-kavy/">ЩЕ                            </a>
                        </p>
                    </div>
                    <!-- /.news-text-wrap -->
                </div>
                <div class="news-item">
                    <a href="http://c.redcarlos.com/kofejnye-istorii-ot-uverenosti-do-pobed/" class="news-img-wrap">
                        <img width="400" height="400" src="http://c.redcarlos.com/wp-content/uploads/2017/10/blog_stories-400x400.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />                    </a>
                    <!-- /.news-img-wrap -->
                    <div class="news-text-wrap">
                        <h3>Кофейные истории. От уверености до побед</h3>
                        <span class="public-date">
                        13.10.2017                    </span>
                        <!-- /.public-date -->
                        <p>
                            «Я буду готовиться, и однажды мой шанс придет» (с) А. Линкольн &nbsp; У каждого есть своя история, связанная с кофе. Каждый день мы принимаем десятки решений, которые могут изменить нас и нашу жизнь. Каждый день полон возможностей, желаний и шансов....                                                        <a href="http://c.redcarlos.com/kofejnye-istorii-ot-uverenosti-do-pobed/">ЩЕ                            </a>
                        </p>
                    </div>
                    <!-- /.news-text-wrap -->
                </div>
                <div class="news-item">
                    <a href="http://c.redcarlos.com/gemini-espresso-club-pochnit-svij-kavovyj-biznes/" class="news-img-wrap">
                        <img width="800" height="533" src="http://c.redcarlos.com/wp-content/uploads/2017/10/Kofejnaya-franshiza-800x533.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />                    </a>
                    <!-- /.news-img-wrap -->
                    <div class="news-text-wrap">
                        <h3>Gemini Espresso Club. Почніть свій кавовий бізнес!</h3>
                        <span class="public-date">
                        13.10.2017                    </span>
                        <!-- /.public-date -->
                        <p>
                            Gemini - це компанія, яка  дбає не тільки про те, щоб ви пили найкращу каву, але робить все, щоб ваш бізнес був успішним. І у нас є чудова новина! Тепер ви можете стати частиною сім'ї франчайзі Gemini, і здійснити свою давню...                                                        <a href="http://c.redcarlos.com/gemini-espresso-club-pochnit-svij-kavovyj-biznes/">ЩЕ                            </a>
                        </p>
                    </div>
                    <!-- /.news-text-wrap -->
                </div>
            </div>
            <!-- /.news-container -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.news-section -->

    <!-- /.callback-section -->

    <div class="callback-section">
        <div class="container">

            <div class="callback-block">
                <div class="map" id="map"></div>
                <script>
                    var img_src = 'http://c.redcarlos.com/wp-content/themes/gemini/assets/img/map_icon.png'
                </script>
                <!-- /.map -->

                <div class="contact-info">
                    <ul>
                        <li class="icon-map">
                            <strong>Центральний офіс</strong>
                            <p><p>м. Київ, вул. Антоновича, 172</p>
                            </p>
                        </li>
                        <li class="icon-phone">
                            <strong>Телефони контакт-центру</strong>
                            <p>+380 (44) 239-55-88<br />
                                +380 (66) 239-55-88<br />
                                +380 (63) 239-55-88<br />
                                +380 (68) 239-55-88</p>
                        </li>
                        <li class="icon-email">
                            <strong>Пошта для зв’язку</strong>
                            <p>zakaz@caffe.com.ua</p>
                        </li>
                        <li class="icon-time">
                            <strong>Час роботи контакт-центру</strong>
                            <p>Пн-Пт: 08:00 - 19:00 Сб-Нд: Вихідний</p>
                        </li>
                    </ul>
                </div>

                <!-- /.dealer-item -->
                <form class="calback-form">
                    <h2>Зворотній звя’зок</h2>
                    <input required id="contact_name" type="text" placeholder="Ім'я">
                    <input required id="contact_email" type="email" placeholder="Email">
                    <textarea required id="contact_msg" placeholder="Повідомлення"></textarea>
                    <button type="submit" class="btn">Зв’язатись</button>
                </form>
                <!-- /.calback-form -->
            </div>
            <!-- /.callback-block -->
            <button id="myBtn">Open Modal</button>

            <div id="successModal" class="modal">
                <script>
                    var modal = $('#successModal')[0];
                    $('.close').on('click',function () {
                        $('.modal').fadeOut();
                    });

                    $(window).on('click',function (event) {
                        if (event.target == modal) {
                            $('.modal').fadeOut();
                        }
                    });
                </script>
                <!-- Modal content -->
                <div class="modal-content">
                    <img src="img/success-modal.png" alt="image">
                    <span class="close">&times;</span>
                    <p>Дякуємо за Вашу заявку!</p>
                </div>

            </div>
            <!-- /.modal -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.callback-section -->

    <!-- /.callback-section -->


</div>
<footer>
    <div class="container">
        <div class="footer-wrap">
            <div>
                <span class="logo">
                    <img src="http://c.redcarlos.com/wp-content/themes/gemini/assets/img/logo-dark.svg" alt="image">
                </span>
                <!-- /.logo -->
                <div class="copyright">
                    Усі права захищені. Заборонено будь-яке копіювання <br>  матеріалів ресурсу без письмового дозволу власника.                                   </div>
                <!-- /.copyright -->
            </div>

            <div class="social-link">
                <a href="https://www.facebook.com/espressogemini/" class="icon-fb"></a>
                <a href="https://www.instagram.com/geminiespresso/" class="icon-instagram"></a>
                <a href="https://twitter.com/Gemini_Espresso" class="icon-twitter"></a>
                <a href="https://www.youtube.com/channel/UCyQrn-IFGJLwTBVFIF72JHw/videos" class="icon-youtube-symbol"></a>
                <a href="https://www.pinterest.com/geminiespresso/" class="icon-pinterest"></a>
                <a href="https://plus.google.com/110658403048604789627" class="icon-google-plus"></a>
                <a class="email" href="mailto:info@gimini.ua">info@gimini.ua</a>
                <!-- /.email -->
            </div>
            <!-- /.social-link -->
        </div>
        <!-- /.footer-wrap -->

    </div>
    <!-- /.container -->
    <a href="https://red-carlos.com" target="_blank" class="rc">
        by
        <img src="http://c.redcarlos.com/wp-content/themes/gemini/assets/img/rc.svg" alt="RedCarlosStudio">
        <style>
            .rc{
                display: block;
                position: absolute;
                bottom: 3px;
                right: 3px;
                width:130px;
                font-size: 11px;
                color: #4d4d4d;
            }
            .rc img{
                width:80%;
                vertical-align: middle;
            }
        </style>
    </a>
</footer>


<script src="libs/parallax.js"></script>
<script>

</script>
//= _blocks/_bottom-page.html