//= _blocks/_head.html

//= _blocks/_header.html

<div class="header-news">
    <div class="parallax-scene" id="scene">
        <div class="header-bg-layer-1" data-depth="0.2"></div>
        <!-- /.header-bg-layer-1 -->
        <div class="header-bg-layer-2" data-depth="0.1"></div>
        <!-- /.header-bg-layer-2 -->
        <div class="header-bg-layer-3" data-depth="0.3"></div>
        <!-- /.header-bg-layer-2 -->
    </div>
    <div class="container">
        <h1>Новини</h1>
        <a href="#" class="left-arrow">Повернутись</a>
    </div>
    <!-- /.container -->
</div>
<!-- /.news-category -->
<div class="news-post-section">
    <div class="container no-padding-right">
        <div class="news-post-block">
                <div class="news-block news-all-posts">
                    <div class="news-item">
                        <div class="news-img-wrap">
                            <img src="img/content-img1.jpg" alt="image">
                        </div>
                        <!-- /.news-img-wrap -->
                        <div class="news-text-wrap">
                            <h3>Кофейные ясли</h3>
                            <span class="public-date">
                        Август 16th, 2017
                    </span>
                            <!-- /.public-date -->
                            <p>
                                Кофе тоже бывает маленьким или "Кофейные ясли" Мы уже рассказывали вам множество историй о происхождении кофейных деревьев в тех или иных странах, о влиянии климата на их рост, а также о методах сбора урожая. Но на самом...
                                <a href="#">ЩЕ</a>
                            </p>
                        </div>
                        <!-- /.news-text-wrap -->
                    </div>
                    <!-- /.news-item -->
                    <div class="news-item">
                        <div class="news-img-wrap">
                            <img src="img/content-img2.jpg" alt="image">
                        </div>
                        <!-- /.news-img-wrap -->
                        <div class="news-text-wrap">
                            <h3>Кофейные ясли</h3>
                            <span class="public-date">
                        Август 16th, 2017
                    </span>
                            <!-- /.public-date -->
                            <p>
                                Кофе тоже бывает маленьким или "Кофейные ясли" Мы уже рассказывали вам множество историй о происхождении кофейных деревьев в тех или иных странах, о влиянии климата на их рост, а также о методах сбора урожая. Но на самом...
                                <a href="#">ЩЕ</a>
                            </p>
                        </div>
                        <!-- /.news-text-wrap -->
                        </a>
                        <!-- /.news-item -->
                    </div>
                    <!-- /.news-item -->
                    <div class="news-item">
                        <div class="news-img-wrap">
                            <img src="img/content-img3.jpg" alt="image">
                        </div>
                        <!-- /.news-img-wrap -->
                        <div class="news-text-wrap">
                            <h3>Кофейные ясли</h3>
                            <span class="public-date">
                        Август 16th, 2017
                    </span>
                            <!-- /.public-date -->
                            <p>
                                Кофе тоже бывает маленьким или "Кофейные ясли" Мы уже рассказывали вам множество историй о происхождении кофейных деревьев в тех или иных странах, о влиянии климата на их рост, а также о методах сбора урожая. Но на самом...
                                <a href="#">ЩЕ</a>
                            </p>
                        </div>
                        <!-- /.news-text-wrap -->
                        </a>
                        <!-- /.news-item -->
                    </div>
                    <!-- /.news-item -->
                    <div class="news-item">
                        <div class="news-img-wrap">
                            <img src="img/content-img4.jpg" alt="image">
                        </div>
                        <!-- /.news-img-wrap -->
                        <div class="news-text-wrap">
                            <h3>Кофейные ясли</h3>
                            <span class="public-date">
                        Август 16th, 2017
                    </span>
                            <!-- /.public-date -->
                            <p>
                                Кофе тоже бывает маленьким или "Кофейные ясли" Мы уже рассказывали вам множество историй о происхождении кофейных деревьев в тех или иных странах, о влиянии климата на их рост, а также о методах сбора урожая. Но на самом...
                                <a href="#">ЩЕ</a>
                            </p>
                        </div>
                        <!-- /.news-text-wrap -->
                        </a>
                        <!-- /.news-item -->
                    </div>
                    <!-- /.news-item -->
                    <div class="news-item">
                        <div class="news-img-wrap">
                            <img src="img/content-img1.jpg" alt="image">
                        </div>
                        <!-- /.news-img-wrap -->
                        <div class="news-text-wrap">
                            <h3>Кофейные ясли</h3>
                            <span class="public-date">
                        Август 16th, 2017
                    </span>
                            <!-- /.public-date -->
                            <p>
                                Кофе тоже бывает маленьким или "Кофейные ясли" Мы уже рассказывали вам множество историй о происхождении кофейных деревьев в тех или иных странах, о влиянии климата на их рост, а также о методах сбора урожая. Но на самом...
                                <a href="#">ЩЕ</a>
                            </p>
                        </div>
                        <!-- /.news-text-wrap -->
                    </div>
                    <!-- /.news-item -->
                    <div class="news-item">
                        <div class="news-img-wrap">
                            <img src="img/content-img2.jpg" alt="image">
                        </div>
                        <!-- /.news-img-wrap -->
                        <div class="news-text-wrap">
                            <h3>Кофейные ясли</h3>
                            <span class="public-date">
                        Август 16th, 2017
                    </span>
                            <!-- /.public-date -->
                            <p>
                                Кофе тоже бывает маленьким или "Кофейные ясли" Мы уже рассказывали вам множество историй о происхождении кофейных деревьев в тех или иных странах, о влиянии климата на их рост, а также о методах сбора урожая. Но на самом...
                                <a href="#">ЩЕ</a>
                            </p>
                        </div>
                        <!-- /.news-text-wrap -->
                        </a>
                        <!-- /.news-item -->
                    </div>
                    <!-- /.news-item -->
                    <div class="news-item">
                        <div class="news-img-wrap">
                            <img src="img/content-img3.jpg" alt="image">
                        </div>
                        <!-- /.news-img-wrap -->
                        <div class="news-text-wrap">
                            <h3>Кофейные ясли</h3>
                            <span class="public-date">
                        Август 16th, 2017
                    </span>
                            <!-- /.public-date -->
                            <p>
                                Кофе тоже бывает маленьким или "Кофейные ясли" Мы уже рассказывали вам множество историй о происхождении кофейных деревьев в тех или иных странах, о влиянии климата на их рост, а также о методах сбора урожая. Но на самом...
                                <a href="#">ЩЕ</a>
                            </p>
                        </div>
                        <!-- /.news-text-wrap -->
                        </a>
                        <!-- /.news-item -->
                    </div>
                    <!-- /.news-item -->
                    <div class="news-item">
                        <div class="news-img-wrap">
                            <img src="img/content-img4.jpg" alt="image">
                        </div>
                        <!-- /.news-img-wrap -->
                        <div class="news-text-wrap">
                            <h3>Кофейные ясли</h3>
                            <span class="public-date">
                        Август 16th, 2017
                    </span>
                            <!-- /.public-date -->
                            <p>
                                Кофе тоже бывает маленьким или "Кофейные ясли" Мы уже рассказывали вам множество историй о происхождении кофейных деревьев в тех или иных странах, о влиянии климата на их рост, а также о методах сбора урожая. Но на самом...
                                <a href="#">ЩЕ</a>
                            </p>
                        </div>
                        <!-- /.news-text-wrap -->
                        </a>
                        <!-- /.news-item -->
                    </div>
                    <!-- /.news-item -->
                    <div class="news-item">
                        <div class="news-img-wrap">
                            <img src="img/content-img1.jpg" alt="image">
                        </div>
                        <!-- /.news-img-wrap -->
                        <div class="news-text-wrap">
                            <h3>Кофейные ясли</h3>
                            <span class="public-date">
                        Август 16th, 2017
                    </span>
                            <!-- /.public-date -->
                            <p>
                                Кофе тоже бывает маленьким или "Кофейные ясли" Мы уже рассказывали вам множество историй о происхождении кофейных деревьев в тех или иных странах, о влиянии климата на их рост, а также о методах сбора урожая. Но на самом...
                                <a href="#">ЩЕ</a>
                            </p>
                        </div>
                        <!-- /.news-text-wrap -->
                    </div>
                    <!-- /.news-item -->
                    <div class="news-item">
                        <div class="news-img-wrap">
                            <img src="img/content-img2.jpg" alt="image">
                        </div>
                        <!-- /.news-img-wrap -->
                        <div class="news-text-wrap">
                            <h3>Кофейные ясли</h3>
                            <span class="public-date">
                        Август 16th, 2017
                    </span>
                            <!-- /.public-date -->
                            <p>
                                Кофе тоже бывает маленьким или "Кофейные ясли" Мы уже рассказывали вам множество историй о происхождении кофейных деревьев в тех или иных странах, о влиянии климата на их рост, а также о методах сбора урожая. Но на самом...
                                <a href="#">ЩЕ</a>
                            </p>
                        </div>
                        <!-- /.news-text-wrap -->
                        </a>
                        <!-- /.news-item -->
                    </div>
                    <!-- /.news-item -->
                    <div class="news-item">
                        <div class="news-img-wrap">
                            <img src="img/content-img3.jpg" alt="image">
                        </div>
                        <!-- /.news-img-wrap -->
                        <div class="news-text-wrap">
                            <h3>Кофейные ясли</h3>
                            <span class="public-date">
                        Август 16th, 2017
                    </span>
                            <!-- /.public-date -->
                            <p>
                                Кофе тоже бывает маленьким или "Кофейные ясли" Мы уже рассказывали вам множество историй о происхождении кофейных деревьев в тех или иных странах, о влиянии климата на их рост, а также о методах сбора урожая. Но на самом...
                                <a href="#">ЩЕ</a>
                            </p>
                        </div>
                        <!-- /.news-text-wrap -->
                        </a>
                        <!-- /.news-item -->
                    </div>
                    <!-- /.news-item -->
                    <div class="news-item">
                        <div class="news-img-wrap">
                            <img src="img/content-img4.jpg" alt="image">
                        </div>
                        <!-- /.news-img-wrap -->
                        <div class="news-text-wrap">
                            <h3>Кофейные ясли</h3>
                            <span class="public-date">
                        Август 16th, 2017
                    </span>
                            <!-- /.public-date -->
                            <p>
                                Кофе тоже бывает маленьким или "Кофейные ясли" Мы уже рассказывали вам множество историй о происхождении кофейных деревьев в тех или иных странах, о влиянии климата на их рост, а также о методах сбора урожая. Но на самом...
                                <a href="#">ЩЕ</a>
                            </p>
                        </div>
                        <!-- /.news-text-wrap -->
                        </a>
                        <!-- /.news-item -->
                    </div>
                    <!-- /.news-item -->
                    <a href="#" class="show-more">Показати ще &darr;</a>
                </div>
                <!-- /.news-container -->

            <!-- /.news-all-posts -->
            <div class="news-sidebar">
                <form>
                    <div>
                        <input type="text" class="search-input">
                        <input type="submit" id="searchsubmit" value="Search">
                    </div>
                    <label for="">Виберіть категорію</label>
                    <select name="" id="">
                        <option value="Select Categoriey">Select Categoriey</option>
                        <option value="Select Categoriey">Select Categoriey</option>
                        <option value="Select Categoriey">Select Categoriey</option>
                    </select>
                    <!-- /# -->
                </form>
                <div class="swiper-scroll-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>

                        </div>
                        <!-- /.swiper-slide -->
                    </div>
                    <!-- /.swiper-wrapper -->
                    <div class="swiper-scrollbar"></div>
                    <!-- /.swiper-scrollbar -->
                </div>
                <!-- /.swiper-scroll-container -->
                <div class="facebook-block">
                    <h3>Найдите нас на Facebook</h3>
                    <div id="fb-root"></div>
                    <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.10";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="fb-page" data-href="https://www.facebook.com/espressogemini/"
                         data-small-header="false" data-adapt-container-width="true"
                         data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/espressogemini/"
                                    class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/espressogemini/">
                                Gemini Espresso</a>
                        </blockquote>
                    </div>
                </div>
                <!-- /.facebook-block -->
                <div class="social-link">
                    <h3>Присоединяйтесь к нам</h3>
                    <a href="#" class="icon-fb"></a>
                    <a href="#" class="icon-instagram"></a>
                    <a href="#" class="icon-twitter"></a>
                    <a href="#" class="icon-youtube-symbol"></a>
                    <a href="#" class="icon-pinterest"></a>
                    <a href="#" class="icon-google-plus"></a>
                    <!-- /.email -->
                </div>
                <!-- /.social-links -->
            </div>
            <!-- /.news-sidebar -->
        </div>
        <!-- /.news-post-block -->
    </div>
    <!-- /.container -->
</div>
<!-- /.news-post-section -->


//= _blocks/_callback.html

//= _blocks/_footer.html



<script src="libs/parallax.js"></script>
<script>
    var scene = document.getElementById('scene');
    var parallaxInstance = new Parallax(scene);
</script>
    //= _blocks/_bottom-page.html