//= _blocks/_head.html

//= _blocks/_header.html

<div class="header-news">
    <div class="parallax-scene" id="scene">
        <div class="header-bg-layer-1" data-depth="0.2"></div>
        <!-- /.header-bg-layer-1 -->
        <div class="header-bg-layer-2" data-depth="0.1"></div>
        <!-- /.header-bg-layer-2 -->
        <div class="header-bg-layer-3" data-depth="0.3"></div>
        <!-- /.header-bg-layer-2 -->
    </div>
    <div class="container">
        <h1>Новини</h1>
        <a href="#" class="left-arrow">Повернутись</a>
    </div>
    <!-- /.container -->
</div>
<!-- /.news-category -->
<div class="news-post-section">
    <div class="container no-padding-right">
        <div class="news-post-block">
            <div class="news-post">
                <nav><a href="#" class="left-arrow">Попередня</a> <a href="#" class="right-arrow">Слідуюча</a></nav>

                <h2>Другой взгляд на кофе
                    приготовленный дома</h2>
                <span class="post-date">
                Август 2nd, 2017
            </span>
                <!-- /.post-date -->
                <div class="gallery-block">
                    <div class="swiper-container gallery-top">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1200/1200)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1200/1200)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1200/1200)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1200/1200)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1200/1200)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1200/1200)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1200/1200)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1200/1200)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1200/1200)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1200/1200)"></div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="gallery-button-next"><span></span></div>
                        <div class="gallery-button-prev"><span></span></div>
                    </div>
                    <div class="swiper-container gallery-thumbs">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1200/1200)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1200/1200)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1200/1200)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1200/1200)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1200/1200)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1200/1200)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1200/1200)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1200/1200)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1200/1200)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1200/1200)"></div>
                        </div>
                    </div>
                </div>
                <!-- /.gallery-block -->

                <div>
                    <p>
                        Другой взгляд: почему кофе, приготовленный дома, может быть лучше напитка из заведений

                    </p>
                    <p> Ежедневно в Киеве открываются новые кофейни и кондитерские, где гостей угощают отменным кофе,
                        приготовленным профессиональным бариста. А тем, у кого нет возможности устроить кофебрейк на
                        красивой террасе в центре города, на выручку приходят тысячи маленьких точек формата take&go,
                        разбросанных по всем станциям метро нашего города. Для многих людей кофейная пауза на работе или в
                        кафешке стала настоящим ритуалом, делающим даже самый мрачный день чуточку светлее.
                    </p>
                    <p> Но кофе не всегда бывает покупным – есть те, кто любит сам себе его готовить. Специально для Gemini
                        люди, отдающие предпочтение домашнему кофе, назвали 5 причин, почему дома им всегда вкуснее.
                    </p>
                    <p> Только вы знаете, какой кофе вам хочется прямо сейчас
                    </p>
                    <p> Качественный эспрессо – это лишь холст для тех, кто любит экспериментировать со вкусом. Кому-то
                        нравится сладкий кофе, а кому-то с кислинкой. Когда на улице жарко, в крепкий напиток можно добавить
                        мороженое. В холодное время года кофе хорошо смешивать с алкоголем. Ну, а заглянувшую в гости
                        девушку всегда можно угостить капучино или раф-ом. Не каждый бариста сможет сделать все именно так,
                        как хочется в данный момент.
                    </p>
                    <p> Вы всегда знаете, из каких зерен приготовлен напиток
                    </p>
                    <p> Даже в самом хорошем заведении кофе может оказаться невкусным. Не потому, что зерна дешевые или
                        бариста плохо выполняет работу, нет. Просто сколько людей, столько и вкусов. Часто эта проблема
                        затрагивает тех, кто уже много лет предпочитает один сорт. В заведениях, как правило, подаются
                        максимально нейтральные сорта, которые нравятся большинству клиентов. Ну и, конечно, вы можете
                        столкнуться с экономией. А кофейные гурманы знают, что вкус кофе раскрывается в несколько этапов и
                        для того, чтобы сполна насладиться напитком, нужно выбирать качественные зерна.
                    </p>
                    <p> Вы экономите время
                    </p>
                    <p> Как проходит утро человека, работающего вне дома? Проснулся, понял, что проспал, на ходу включил
                        кофемашину, быстро принял душ, собрался, сделал пару глотков кофе и побежал. Причем чем
                        профессиональней кофейный аппарат, тем быстрее и качественнее будет сварен кофе. Одним кликом вы
                        можете приготовить себе капучино, который будете пить уже через пару секунд. Идеальное решение для
                        тех, кто всегда куда-то торопится.
                    </p>
                    <p> Вы тратите меньше денег
                    </p>
                    <p> Кофемашина покупается один раз, а кофе варить вам будет годами. Посчитайте, сколько денег вы
                        потратили на кофе вне дома за последние полгода и поймете, что на эту сумму денег уже дважды можно
                        было бы купить домашний аппарат. А для тех, кто не любит заморачиваться с приготовлением, существует
                        очень экономное решение – капсульные кофемашины, отличающиеся стабильностью вкуса и качеством своих
                        напитков.
                    </p>
                    <p> Вы окружаете себя красивыми и функциональными вещами
                    </p>
                    <p> Покупка новой техники – это всегда событие. Выбор кофемашины для дома – это долгий и трепетный
                        процесс, в ходе которого человек узнает больше о зернах, вкусах и рецептах. А потом, после покупки,
                        когда вы будете заваривать чашечку своего идеального эспрессо, вы будете улыбаться. Потому что кофе
                        – это всегда о любви. Особенно, если он приготовлен с душой и для любимого человека.
                    </p>
                    <p> Вы прочитали статью —”Другой взгляд на кофе, приготовленный дома”. Это просто еще одна точка зрения
                        от нас. Оставайтесь на связи ;-). Следите за публикациями в нашем блоге и в социальных сетях.
                    </p>
                </div>
            </div>
            <!-- /.news-post -->
            <div class="news-sidebar">
                <form>
                    <div>
                        <input type="text" class="search-input">
                        <input type="submit" id="searchsubmit" value="Search">
                    </div>
                    <label for="">Виберіть категорію</label>
                    <select name="" id="">
                        <option value="Select Categoriey">Select Categoriey</option>
                        <option value="Select Categoriey">Select Categoriey</option>
                        <option value="Select Categoriey">Select Categoriey</option>
                    </select>
                    <!-- /# -->
                </form>
                <div class="swiper-scroll-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>
                            <a href="#">
                                <h3>Кофейные рецепты для
                                    жаркого лета</h3>
                                <span class="post-date">
                                Август 30nd, 2017
                            </span>
                                <!-- /.post-date -->
                            </a>

                        </div>
                        <!-- /.swiper-slide -->
                    </div>
                    <!-- /.swiper-wrapper -->
                    <div class="swiper-scrollbar"></div>
                    <!-- /.swiper-scrollbar -->
                </div>
                <!-- /.swiper-scroll-container -->
                <div class="facebook-block">
                    <h3>Найдите нас на Facebook</h3>
                    <div id="fb-root"></div>
                    <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.10";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="fb-page" data-href="https://www.facebook.com/espressogemini/"
                         data-small-header="false" data-adapt-container-width="true"
                         data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/espressogemini/"
                                    class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/espressogemini/">
                                Gemini Espresso</a>
                        </blockquote>
                    </div>
                </div>
                <!-- /.facebook-block -->
                <div class="social-link">
                    <h3>Присоединяйтесь к нам</h3>
                    <a href="#" class="icon-fb"></a>
                    <a href="#" class="icon-instagram"></a>
                    <a href="#" class="icon-twitter"></a>
                    <a href="#" class="icon-youtube-symbol"></a>
                    <a href="#" class="icon-pinterest"></a>
                    <a href="#" class="icon-google-plus"></a>
                    <!-- /.email -->
                </div>
                <!-- /.social-links -->
            </div>
            <!-- /.news-sidebar -->
        </div>
        <!-- /.news-post-block -->
    </div>
    <!-- /.container -->
</div>
<!-- /.news-post-section -->


//= _blocks/_callback.html

//= _blocks/_footer.html



<script src="libs/parallax.js"></script>
<script>
    var scene = document.getElementById('scene');
    var parallaxInstance = new Parallax(scene);
</script>
    //= _blocks/_bottom-page.html