//= _blocks/_head.html

//= _blocks/_header.html

<div class="header-product" style="background-image: url(img/product_bg.jpg)">
    <div class="container">
        <a href="#" class="left-arrow">Повернутись</a>
        <a href="#" class="btn">В магазин</a>
    </div>
    <!-- /.container -->
</div>
<!-- /.header-subcategory -->
<div class="product-section">
    <div class="container">
        <div class="product-name-wrap">
            <div class="main-product-image">
                <div class="product-image-wrap">
                    <img src="img/product_img.png" alt="image">
                </div>
                <!-- /.product-image-wrap -->
            </div>
            <!-- /.main-product-image -->
            <div class="product-name">
                <p>Назва кави</p>
                <h1>
                    Espresso ORO
                </h1>
            </div>
            <!-- /.product-name -->
        </div>
        <!-- /.product-name-wrap -->
        <div class="product-info-block">
            <div class="">
            <div class="product-info-text">
                <p>Состав: <strong>100% Арабика.</strong></p>
                <p>Уровень обжарки: <strong>Средний</strong></p>
                <p>Страны: <strong>Бразилия, Эфиопия, Индия</strong></p>
                <p>
                    Смесь элитных сортов Арабики с мягким
                    тонким вкусом и выраженным послевкусием.
                    Насыщенный с выдержанной крепостью.
                </p>
                <p>
                    <strong>Рекомендовано готовить с помощью
                    профессиональной кофемашины</strong>
                </p>
                <p>Объединенные в смесь этого кофе:</p>

            </div>
            <!-- /.product-info-text -->
            <img src="img/map_img.png" alt="image">
            </div>
            <!-- /. -->
            <img src="img/diagram_img.png" alt="image">
        </div>
        <!-- /.product-info -->
    </div>
    <!-- /.container -->
</div>
<!-- /.product-info-section -->
<div class="products-section">
    <div class="container">
        //= _blocks/_products.html
    </div>
    <!-- /.container -->
</div>
<!-- /.subcategories-product-section -->

//= _blocks/_callback.html

//= _blocks/_footer.html



<script src="libs/parallax.js"></script>
<script>
    var scene = document.getElementById('scene');
    var parallaxInstance = new Parallax(scene);
</script>
    //= _blocks/_bottom-page.html