//= _blocks/_head.html

//= _blocks/_header.html

<div class="header-tasting">
    <div class="parallax-scene" id="scene">
        <div class="header-bg-layer-1" data-depth="0.2"></div>
        <!-- /.header-bg-layer-1 -->
        <div class="header-bg-layer-2" data-depth="0.1"></div>
        <!-- /.header-bg-layer-2 -->
        <div class="header-bg-layer-3" data-depth="0.3"></div>
        <!-- /.header-bg-layer-2 -->
    </div>
    <div class="container">
        <h1>ДЕГУСТАЦІЯ</h1>
        <a href="#" class="left-arrow">Повернутись</a>
    </div>
    <!-- /.container -->
</div>

<div class="container">
    <div class="tasting-info">

    </div>
    <!-- /.html -->
</div>
<!-- /.container -->

<div class="services-section">
    <div class="container">
        <div class="statistics-block">
            <a href="#" class ="statistics-item ">
                <div class="statistics-image-wrap statistics-year">
                    <img src="../img/statistics_machine.png" srcset="../img/statistics_machine.png 1x, img/statistics_machine@2x.png 2x, img/statistics_machine@3x.png" alt="image">
                </div>
                <!-- /.advantage-image-wrap -->
                <strong>
                    Сервіс
                    <span class="shadow_effect">
                        Сервіс
                    </span>
                    <!-- /.shadow_effect -->
                </strong>
                <p>
                    21 Рік досвіду і Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            </a>
            <!-- /.advantage-item -->
            <a href="#" class="statistics-item">
                <div class="statistics-image-wrap statistics-weight">
                    <img src="../img/CoffeePot.png" srcset="../img/CoffeePot.png 1x, img/CoffeePot@2x.png 2x, img/CoffeePot@3x.png" alt="image">
                </div>
                <!-- /.advantage-image-wrap -->
                <strong>
                    Школа бариста
                    <span class="shadow_effect">
                         Школа бариста
                    </span>
                    <!-- /.shadow_effect -->
                </strong>
                <p>
                    21 Рік досвіду і Lorem ipsum dolor sit amet, consectetur adipiscing elit
                </p>
            </a>
            <!-- /.advantage-item -->
            <a href="#" class="statistics-item">
                <div class="statistics-image-wrap statistics-machine">
                    <img src="../img/tasting.png" srcset="../img/tasting.png 1x, img/tasting@2x.png 2x, img/tasting@3x.png" alt="image">
                </div>
                <!-- /.advantage-image-wrap -->
                <strong>
                    Дегустація
                    <span class="shadow_effect">
                     Дегустація
                    </span>
                    <!-- /.shadow_effect -->
                </strong>
                <p>
                    21 Рік досвіду і Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                </p>
            </a>
            <!-- /.advantage-item -->
            <a href="#" class="statistics-item">
                <div class="statistics-image-wrap statistics-service">
                    <img src="../img/water.png" srcset="../img/water.png 1x, img/water@2x.png 2x, img/water@3x.png" alt="image">
                </div>
                <!-- /.advantage-image-wrap -->
                <strong>
                    Доставка води
                    <span class="shadow_effect">
             Доставка води
                    </span>
                    <!-- /.shadow_effect -->
                </strong>
                <p>
                    сертифікованих
                    сервісних центрів
                </p>
            </a>
            <!-- /.advantage-item -->
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.services-section -->


//= _blocks/_callback.html

//= _blocks/_footer.html



<script src="libs/parallax.js"></script>
<script>
    var scene = document.getElementById('scene');
    var parallaxInstance = new Parallax(scene);
</script>
    //= _blocks/_bottom-page.html